<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>org.jivesoftware.openfire.plugin.NotificationPlugin</class>

    <!-- Plugin meta-data -->
    <name>PushMessage1</name>
    <description>This is a push-message plugin.</description>
    <author>Tao Chenli</author>

    <version>1.0.0</version>
    <date>05/06/2014</date>
    <url>http://www.igniterealtime.org/projects/openfire/plugins.jsp</url>
    <minServerVersion>1.0.0</minServerVersion>
    <licenseType>gpl</licenseType>

    <!-- Admin console entries -->
   <adminconsole>
        <tab id="tab-pushMessage"
             name="PushMessage2"
             description="Click to push messages">
            <sidebar id="sidebar-message-manager"
                     name="Push Manager">
                <item id="push-message"
                      name="Push Messages"
                      url="push.jsp"
                      description="Push a message to users."/>
            </sidebar>
        </tab>
    </adminconsole>
</plugin>